---
# 参见: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4 # 访问说明符的偏移
AlignAfterOpenBracket: BlockIndent # 如果要对小括号换行, 则在小括号后换行, 且在新行关闭尾括号
AlignArrayOfStructures: Left # 对齐结构体数组
AlignConsecutiveAssignments: # 对齐连续赋值
  Enabled: true
AlignConsecutiveBitFields: # 对齐连续位域
  Enabled: true
AlignConsecutiveDeclarations: # 对齐连续声明
  Enabled: true
AlignConsecutiveMacros: # 对齐连续宏
  Enabled: true
AlignConsecutiveShortCaseStatements: # 对齐连续短case语句
  Enabled: true
AllowAllArgumentsOnNextLine: true # 允许函数调用时所有参数都在下一行
AllowAllConstructorInitializersOnNextLine: true # 允许构造函数的所有参数都在下一行
AllowAllParametersOfDeclarationOnNextLine: true # 允许函数声明的所有参数都在下一行
AllowShortFunctionsOnASingleLine: Empty # 仅允许空函数在单行
AlwaysBreakBeforeMultilineStrings: true # 总是在多行字符串之前换行
BinPackArguments: false # 函数调用的参数无法放置在一行时, 将它们每个都单独放在一行
BinPackParameters: false # 函数声明的参数无法放置在一行时, 将它们每个都单独放在一行
ColumnLimit: 0 # 列宽
IndentWidth: 4 # 缩进宽度
InsertNewlineAtEOF: true # 在文件末尾插入新行
LineEnding: LF # 行尾换行符
TabWidth: 4 # Tab 宽度
UseTab: Never # 不使用 Tab
---

