[submodule "extern/cpp-httplib"]
	path = extern/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "extern/nlohmann-json"]
	path = extern/nlohmann-json
	url = https://github.com/nlohmann/json.git
[submodule "extern/asio"]
	path = extern/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "extern/sol2"]
	path = extern/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "extern/crow"]
	path = extern/crow
	url = https://github.com/CrowCpp/Crow.git
